PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2018-06-28 12:57:20.048990');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2018-06-28 12:57:20.142150');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2018-06-28 12:57:20.214035');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(80) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'college','semester');
INSERT INTO django_content_type VALUES(2,'college','subject');
INSERT INTO django_content_type VALUES(3,'college','assignsubjectteacher');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_semester','Can add semester');
INSERT INTO auth_permission VALUES(2,1,'change_semester','Can change semester');
INSERT INTO auth_permission VALUES(3,1,'delete_semester','Can delete semester');
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "first_name" varchar(30) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "last_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$120000$7qgwsrGHNeI1$PGVemv/yGqMTx8uLXqHqhmJlAV1N30rc5QSQZNimBxY=','2023-08-13 08:55:08.822812',1,'sushant','','',1,1,'2018-06-28 12:58:20.441653','');
INSERT INTO auth_user VALUES(2,'pbkdf2_sha256$120000$4nm9gF99PEAg$FISOR4VfZO5lO80Wa76kfIpmeCs6Vmwy3tunhA3tax8=','2023-08-13 08:39:32',1,'aman','Aman','',1,1,'2018-06-29 16:06:03','Shakya');
INSERT INTO auth_user VALUES(3,'pbkdf2_sha256$120000$Iuj4ZivRLJ1I$8PuUhVdtPRxpKgCcoZIdL3H7YoAQRV6+NTytlNwM2bk=','2023-08-31 11:23:55.434330',1,'darpan','Darpan','darpankattel1@gmail.com',1,1,'2023-08-13 07:44:13','Kattel');
CREATE TABLE IF NOT EXISTS "college_subject" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(40) NULL, "elective" bool NOT NULL, "subject_code" varchar(40) NOT NULL, "credit" integer NOT NULL, "internal_marks" integer NOT NULL, "external_marks" integer NOT NULL);
INSERT INTO college_subject VALUES(1,'Algorithmic Mathematics',0,'CT802',4,40,60);
INSERT INTO college_subject VALUES(2,'Computer Systems',0,'CT804',4,40,60);
INSERT INTO college_subject VALUES(3,'Knowledge Engineering',0,'CT803',4,40,60);
CREATE TABLE IF NOT EXISTS "college_topic" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(40) NOT NULL);
INSERT INTO college_topic VALUES(1,'Test Topic');
INSERT INTO college_topic VALUES(2,'Networks');
INSERT INTO college_topic VALUES(3,'communication systems');
CREATE TABLE IF NOT EXISTS "college_expert_topic" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "expert_id" integer NOT NULL REFERENCES "college_expert" ("id") DEFERRABLE INITIALLY DEFERRED, "topic_id" integer NOT NULL REFERENCES "college_topic" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO college_expert_topic VALUES(2,2,2);
INSERT INTO college_expert_topic VALUES(3,3,2);
INSERT INTO college_expert_topic VALUES(4,3,3);
CREATE TABLE IF NOT EXISTS "college_batch" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "number_of_students" integer NOT NULL, "programme_id" integer NOT NULL REFERENCES "college_programme" ("id") DEFERRABLE INITIALLY DEFERRED, "year_id" integer NOT NULL REFERENCES "college_year" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO college_batch VALUES(1,48,1,1);
INSERT INTO college_batch VALUES(2,48,1,2);
INSERT INTO college_batch VALUES(3,20,1,5);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('i45r7eork182n9dc38d38ve0c9qzkszj','ZDUzMTM4ZWZmMDdjODg3M2E1ZGFmOTAxN2Y1MzJlNzczNWFkMDc2Njp7Il9hdXRoX3VzZXJfYmFja2VuZCI6ImRqYW5nby5jb250cmliLmF1dGguYmFja2VuZHMuTW9kZWxCYWNrZW5kIiwiX2F1dGhfdXNlcl9pZCI6IjEiLCJfYXV0aF91c2VyX2hhc2giOiIzMmMxNzc1NjM2MTZhYWYyNDYxOWE3MTcwODMxMzc0MTE5ZWY1MTE3In0=','2018-07-12 12:58:23.031105');
INSERT INTO django_session VALUES('z3hw1dao5ghuky6k6ldjh363bguuge56','Yjg2Nzc3YTRkYWNjNzhiMzk0YjUxZGE3NzJmYzQ0NjYwNTE2YjExNzp7Il9hdXRoX3VzZXJfaWQiOiIxIiwiX2F1dGhfdXNlcl9iYWNrZW5kIjoiZGphbmdvLmNvbnRyaWIuYXV0aC5iYWNrZW5kcy5Nb2RlbEJhY2tlbmQiLCJfYXV0aF91c2VyX2hhc2giOiIzMmMxNzc1NjM2MTZhYWYyNDYxOWE3MTcwODMxMzc0MTE5ZWY1MTE3In0=','2018-07-13 07:13:08.962208');
INSERT INTO django_session VALUES('4xqmzv8275youi5uvwfr9wka5te076ct','OGVjYjE0ZjI4Y2RiNTZkYTM0ZmJkZGU1YjU4YTg3OWIwMWJhZjk5Yzp7Il9hdXRoX3VzZXJfYmFja2VuZCI6ImRqYW5nby5jb250cmliLmF1dGguYmFja2VuZHMuTW9kZWxCYWNrZW5kIiwiX2F1dGhfdXNlcl9oYXNoIjoiMzJjMTc3NTYzNjE2YWFmMjQ2MTlhNzE3MDgzMTM3NDExOWVmNTExNyIsIl9hdXRoX3VzZXJfaWQiOiIxIn0=','2018-07-13 15:48:01.542108');
CREATE TABLE IF NOT EXISTS "college_affiliatedinstitute" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "code" varchar(20) NOT NULL, "address" varchar(50) NOT NULL, "office_phone" varchar(20) NOT NULL, "office_email" varchar(20) NOT NULL, "institute_name" varchar(50) NOT NULL);
INSERT INTO college_affiliatedinstitute VALUES(1,'PUL','','','','Pulchowk Campus');
INSERT INTO college_affiliatedinstitute VALUES(2,'NTA','','','','Nepal Telecommunication Authority');
INSERT INTO college_affiliatedinstitute VALUES(3,'Vianet','','','','Vianet Communications');
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL);
INSERT INTO django_admin_log VALUES(1,'2018-06-28 12:59:40.089408','1','2072','[{"added": {}}]',9,1,1);
INSERT INTO django_admin_log VALUES(2,'2018-06-28 12:59:51.825310','1','MScCSKE','[{"added": {}}]',5,1,1);
INSERT INTO django_admin_log VALUES(3,'2018-06-28 12:59:53.819428','1','MScCSKE:2072','[{"added": {}}]',10,1,1);
CREATE TABLE IF NOT EXISTS "thesis_budget" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "externalExaminer" real NOT NULL, "supervisor" real NOT NULL, "staff" real NOT NULL, "peon" real NOT NULL, "tax" real NOT NULL);
INSERT INTO thesis_budget VALUES(1,2000.0,300.0,50.0,20.0,15.0);
CREATE TABLE IF NOT EXISTS "thesis_commonfields" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "defenseDate" varchar(100) NOT NULL, "studentBatch" varchar(100) NOT NULL);
INSERT INTO thesis_commonfields VALUES(30,'14 mangsir,2080','2029');
CREATE TABLE IF NOT EXISTS "thesis_student" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(30) NOT NULL, "rollNumber" varchar(30) NOT NULL, "thesisTitle" varchar(500) NULL, "midterm" bool NOT NULL, "final" bool NOT NULL, "internalMarks" integer NULL, "finalMarks" integer NULL, "totalMarks" integer NULL, "examRollNumber" varchar(30) NULL, "examiner_id" integer NULL REFERENCES "college_expert" ("id") DEFERRABLE INITIALLY DEFERRED, "supervisor_id" integer NULL REFERENCES "college_teacher" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO thesis_student VALUES(1,'Anila Kansakar','073/MSCS/651','Deployment and Performance Analysis of Session layer protocol of Internet of Things',1,1,46,27,73,'202104',4,5);
INSERT INTO thesis_student VALUES(2,'Anup Adhikari','073/MSCS/652','Predicting Protein-Drug Interaction Using Protein Sequence',1,1,50,29,79,'202105',19,13);
INSERT INTO thesis_student VALUES(3,'Balram Sharma','073/MSCS/653','User Behavior Modeling and Anomaly Detection in Structured Cybersecurity Data Using Deep Learning',1,1,51,29,80,'202106',3,4);
CREATE TABLE IF NOT EXISTS "college_programme" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL UNIQUE, "coordinator_id" integer NULL REFERENCES "college_teacher" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO college_programme VALUES(1,'Msc. in Computer System and Knowledge Engineering',NULL);
INSERT INTO college_programme VALUES(2,'MSICE',NULL);
INSERT INTO college_programme VALUES(3,'New Program Name',14);
CREATE TABLE IF NOT EXISTS "thesis_coordinator" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "coordinatorName_id" integer NULL REFERENCES "college_teacher" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "programName_id" integer NULL REFERENCES "college_programme" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO thesis_coordinator VALUES(1,14,3,3);
INSERT INTO thesis_coordinator VALUES(2,3,2,1);
INSERT INTO thesis_coordinator VALUES(3,14,4,1);
CREATE TABLE IF NOT EXISTS "college_year" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(40) NOT NULL UNIQUE);
INSERT INTO college_year VALUES(1,'2072');
INSERT INTO college_year VALUES(2,'2073');
INSERT INTO college_year VALUES(3,'2071');
CREATE TABLE IF NOT EXISTS "college_assignsubjectteacher" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "subject_teacher_teaching_experience_years" integer NOT NULL, "batch_id" integer NOT NULL REFERENCES "college_batch" ("id") DEFERRABLE INITIALLY DEFERRED, "subject_id" integer NOT NULL REFERENCES "college_subject" ("id") DEFERRABLE INITIALLY DEFERRED, "subject_teacher_id" integer NOT NULL REFERENCES "college_teacher" ("id") DEFERRABLE INITIALLY DEFERRED, "year_id" integer NOT NULL REFERENCES "college_year" ("id") DEFERRABLE INITIALLY DEFERRED, "semester" varchar(40) NOT NULL);
INSERT INTO college_assignsubjectteacher VALUES(1,'',2,23,3,4,'Third');
INSERT INTO college_assignsubjectteacher VALUES(2,1,2,20,8,4,'Third');
INSERT INTO college_assignsubjectteacher VALUES(3,2,2,22,7,4,'Third');
CREATE TABLE IF NOT EXISTS "college_expert" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "salutation" varchar(40) NOT NULL, "first_name" varchar(40) NOT NULL, "middle_name" varchar(40) NOT NULL, "last_name" varchar(40) NOT NULL, "mobile_phone" varchar(20) NOT NULL, "home_phone" varchar(20) NOT NULL, "email" varchar(30) NOT NULL, "organization_id" integer NULL REFERENCES "college_affiliatedinstitute" ("id") DEFERRABLE INITIALLY DEFERRED, "upper_degree" varchar(30) NOT NULL);
INSERT INTO college_expert VALUES(2,'Dr.','Pradip','','Paudyal','9851141615','','ppaudyal@nta.gov.np',2,'PhD');
INSERT INTO college_expert VALUES(3,'Mr.','Om','Bikram','Thapa','9851037531','','om@vianet.com.np',3,'Masters');
INSERT INTO college_expert VALUES(4,'Dr.','Manish','','Pokharel','9849867460','','manish@ku.edu.np',4,'PhD');
CREATE TABLE IF NOT EXISTS "college_semester" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "semester_name" varchar(40) NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "college_teacher" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "salutation" varchar(40) NOT NULL, "first_name" varchar(40) NOT NULL, "middle_name" varchar(40) NOT NULL, "last_name" varchar(40) NOT NULL, "mobile_phone" varchar(20) NOT NULL, "home_phone" varchar(20) NOT NULL, "email" varchar(30) NOT NULL, "teacher_id" varchar(20) NOT NULL, "aff_type" varchar(30) NOT NULL, "started_teaching" varchar(4) NOT NULL, "affiliated_institute_id" integer NULL REFERENCES "college_affiliatedinstitute" ("id") DEFERRABLE INITIALLY DEFERRED, "upper_degree" varchar(30) NOT NULL);
INSERT INTO college_teacher VALUES(3,'Dr.','Aman','','Shakya','9841218877','4350304','aman.shakya@ioe.edu.np','','Permanent','2069',1,'PhD');
INSERT INTO college_teacher VALUES(4,'Dr.','Basanta','','Joshi','9851190040','','basanta@ioe.edu.np','','Permanent','2070',1,'PhD');
INSERT INTO college_teacher VALUES(5,'Prof Dr.','Subarna','','Shakya','9851032303','','drss@ioe.edu.np','','Permanent','2069',1,'PhD');
INSERT INTO sqlite_sequence VALUES('django_migrations',49);
INSERT INTO sqlite_sequence VALUES('django_content_type',20);
INSERT INTO sqlite_sequence VALUES('auth_permission',80);
CREATE UNIQUE INDEX auth_group_permissions_group_id_permission_id_0cd325b0_uniq ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX auth_user_groups_user_id_group_id_94350c0c_uniq ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX auth_user_user_permissions_user_id_permission_id_14a6b632_uniq ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE UNIQUE INDEX django_content_type_app_label_model_76bd3d3b_uniq ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX auth_permission_content_type_id_codename_01ab375a_uniq ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE UNIQUE INDEX college_expert_topic_expert_id_topic_id_c5b6a617_uniq ON "college_expert_topic" ("expert_id", "topic_id");
CREATE INDEX "college_expert_topic_expert_id_cda7cf06" ON "college_expert_topic" ("expert_id");
CREATE INDEX "college_expert_topic_topic_id_ba646c58" ON "college_expert_topic" ("topic_id");
CREATE INDEX "college_batch_programme_id_ac1dca97" ON "college_batch" ("programme_id");
CREATE INDEX "college_batch_year_id_8937dc28" ON "college_batch" ("year_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE INDEX "thesis_student_examiner_id_73386d0b" ON "thesis_student" ("examiner_id");
CREATE INDEX "thesis_student_supervisor_id_4c4b6d7f" ON "thesis_student" ("supervisor_id");
CREATE INDEX "college_programme_coordinator_id_7de7536e" ON "college_programme" ("coordinator_id");
CREATE INDEX "thesis_coordinator_coordinatorName_id_ec92b804" ON "thesis_coordinator" ("coordinatorName_id");
CREATE INDEX "thesis_coordinator_programName_id_ab8d0238" ON "thesis_coordinator" ("programName_id");
CREATE UNIQUE INDEX "college_assignsubjectteacher_year_id_batch_id_subject_id_subject_teacher_id_semester_b989957b_uniq" ON "college_assignsubjectteacher" ("year_id", "batch_id", "subject_id", "subject_teacher_id", "semester");
CREATE INDEX "college_assignsubjectteacher_batch_id_3b25f181" ON "college_assignsubjectteacher" ("batch_id");
CREATE INDEX "college_assignsubjectteacher_subject_id_222806ed" ON "college_assignsubjectteacher" ("subject_id");
CREATE INDEX "college_assignsubjectteacher_subject_teacher_id_20f8d499" ON "college_assignsubjectteacher" ("subject_teacher_id");
CREATE INDEX "college_assignsubjectteacher_year_id_ca06578b" ON "college_assignsubjectteacher" ("year_id");
CREATE UNIQUE INDEX "college_expert_first_name_last_name_mobile_phone_upper_degree_e0b51a07_uniq" ON "college_expert" ("first_name", "last_name", "mobile_phone", "upper_degree");
CREATE INDEX "college_expert_organization_id_f522d54b" ON "college_expert" ("organization_id");
CREATE UNIQUE INDEX "college_teacher_first_name_last_name_mobile_phone_upper_degree_45887e10_uniq" ON "college_teacher" ("first_name", "last_name", "mobile_phone", "upper_degree");
CREATE INDEX "college_teacher_affiliated_institute_id_b6143100" ON "college_teacher" ("affiliated_institute_id");
COMMIT;
